/.idea/modules.xml
/.idea/.gitignore

/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/python-projects.iml
/machine_learning/.ipynb_checkpoints/test-checkpoint.ipynb
/.idea/vcs.xml
